<?xml version="1.0"?>
<config>
    <modules>
        <Mygento_Ordereditnew>
            <version>1.0.0</version>
        </Mygento_Ordereditnew>
    </modules>
    <global>
        <blocks>
            <ordereditnew>
                <class>Mygento_Ordereditnew_Block</class>
            </ordereditnew>
        </blocks>
        <helpers>
            <ordereditnew>
                <class>Mygento_Ordereditnew_Helper</class>
            </ordereditnew>
        </helpers>
        <models>
            <ordereditnew>
                <class>Mygento_Ordereditnew_Model</class>
            </ordereditnew>
            <adminhtml>
              <rewrite>
                <sales_order_create>Mygento_Ordereditnew_Model_Rewrite_Create</sales_order_create>
              </rewrite>
            </adminhtml>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <ordereditnew>
                    <files>
                        <default>Mygento_Ordereditnew.csv</default>
                    </files>
                </ordereditnew>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ordereditnew>
                                            <title>Mygento Ordereditnew Configuration</title>
                                        </ordereditnew>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <ordereditnew>
            <general>
                <enabled>0</enabled>
                <debug>0</debug>
            </general>
        </ordereditnew>
    </default>
</config>
